:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #1a1a1a;
  background-color: #646cff;
  color: #1a1a1a;
}

.container {
  width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  max-height: 70vh;
}

@media (max-width: 768px) {
  .container {
    width: 500px;
    padding: 0 15px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
    width: 100vw;
  }
}
